<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-symbol.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Terence Manuel Faria. It uses data from weatherstack.com and darksky.net!</p>
        <img class="potrait" src="/img/WhatsApp Image 2022-12-07 at 10.22.42 PM.jpeg">
    </div>
    
    {{>footer}}
</body>


</html>